legend {
  width: 100%;
  display: block;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  font-family: arial;
  margin: 0 0 18px 0;
}
label {
  color: #000000;
  font-weight: 500;
  display: block;
  max-width: 500px;
  padding-bottom: 12px;
  user-select: none;
}
