.selectWrapper .errorMessage {
  margin-top: 0px;
}
.styledSelect {
  background: white no-repeat 96% 0;
  height: 36px;
  overflow: hidden;
  border-radius: 2px;
  min-width: 50px;
  max-width: 500px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.styledSelect select {
  background: transparent;
  border: none;
  font-size: 14px;
  height: 36px;
  padding: 5px;
  width: 100%;
}
